:root {
  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;

  // spacing variables
  --xs: 0.8rem;
  --sm: 1.6rem;
  --md: 2.4rem;
  --lg: 3.2rem;
  --xl: 4rem;
  --2xl: 4.8rem;
  --3xl: 5.6rem;
  --4xl: 6.4rem;
  --5xl: 7.2rem;
  --6xl: 8rem;
  --7xl: 8.8rem;
  --8xl: 9.6rem;

  // color variables
  --color-primary: #d98c00;
  --color-secondary: #269393;
  --color-tertiary: #000026;

  --text-white: #f2f2f9;
  --text-black: #000026;
}
