@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
Typography System
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
- multiples of 8
8,16,24,32,64,128,256
*/

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.6rem;
  letter-spacing: normal;
  line-height: 150%;
}

h6 {
  font-size: 2rem;
  letter-spacing: -0.5%;
}

h5 {
  font-size: 2.5rem;
}

h4 {
  font-size: 3.125rem;
  line-height: 130%;
}

h3 {
  font-size: 3.906rem;
  letter-spacing: -1.5%;
}

h2 {
  font-size: 4.883rem;
  line-height: 110%;
}

h1 {
  font-size: 6.104rem;
  letter-spacing: -2%;
  line-height: 100%;
}
