.card {
  box-shadow: var(--shadow-light);
  border-radius: 2px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }

  &__details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: var(--md);

    a {
      text-align: center;
      margin-top: auto;
    }
  }
}
