@use "../abstracts/mixins" as *;

.container {
  padding: var(--8xl);
  @include respond(tab-land) {
    padding-left: var(--md);
    padding-right: var(--md);
  }
  @include respond(phone) {
    padding-left: var(--xs);
    padding-right: var(--xs);
  }
}
