@use "../abstracts/mixins" as *;

.grid {
  display: grid;
}

.place-items-center {
  place-items: center;
}

.products-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--md);

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.orders-grid {
  grid-template-columns: repeat(2, 1fr);

  @include respond(tab-land) {
    grid-template-columns: 1fr;
  }
}
